.infoBlock{

    width: 35%;
    margin-left: 10%;
    float: left;
    background-color: rgb(241, 247, 253);
}

h2 {
    align-items: center;
}

p {
    color: black;
}

.userInfo{
    color: black;
    font-size: large;
    margin-left: 20px;
}

.wordThree{
    margin-left: 20px;
}

.redWord{
    color: red;
}

.userSuperInfo{
    background-color: rgb(134, 216, 241);
    width: 30%;
    margin-left: 20px;
    border-radius: 10px;
}

.buttonToChangeInfo{
    margin-left: 20px;
    font-size: x-large;
    border-radius: 6px;
    background: #0095d5;
    color: white;
    cursor: pointer;
}

.buttonToChangeInfo:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#differentUser{
    display: none;
}

#sameUser{
    display: block;
}

.changeEmailPhone{
    /* border: 3px solid rgb(96, 214, 244); */
    width: 35%;
    margin-left: 0;
    margin-right: 10%;
    background: rgb(241, 247, 253);
    float: right;
    margin-bottom: 20px;
}

.formBoxThree{
    width:40%;
    height:40px;
    font-size: large;
    margin-left: 10%;
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.formBoxThree:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.word{
    margin-left: 10%;
    font-size: large;
}

.buttonThree{
    width:40%;
    height:40px;
    font-size: large;
    margin-left: 10%;
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 15px;
    background: #0095d5;
    outline: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.buttonThree:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonThreeNone{
    width:40%;
    height:40px;
    font-size: large;
    margin-left: 10%;
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 15px;
    background: #0095d5;
    outline: none;
    color: white;
    margin-top: 20px;
    opacity: 0.4;
    pointer-events:none;
}

.wordCenter{
    text-align: center;
}

.buttonToDeleteUser{
    margin-left: 20px;
    font-size: x-large;
    border-radius: 6px;
    background: #0095d5;
    color: white;
    cursor: pointer;
}

.show_delete{
    display: block;
}

.not_show_delete{
    display: none;
}