
.item_info{
    /* background-color: rgb(203, 214, 98); */
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    width: 30%;
}

.item_basic_info{
    background-color: rgb(177, 209, 243);
    width: 90%;
    float:left;
    font-size: larger;
    margin-left: 20px;
    border-radius: 10px;
}

.donor_info{
    background-color: aliceblue;
    width: 90%;
    float: left;
    font-size: larger;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.donor_info:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.delete_item{
    background: rgb(127, 134, 236);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.delete_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#not_exist{
    display: none;
}

#exist{
    display: block;
}

.match{
    display: block;
}

.dismatch{
    display: none;
}

#like_this_item{
    display: none;
}

#no_like_this_item{
    display: block;
}

.like_item{
    background: rgb(127, 134, 236);
    color: black;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.like_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancel_like_item{
    background: rgb(127, 134, 236);
    color: black;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.cancel_like_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}